html, body {
    margin: 0 auto;
    scroll-behavior: smooth;
}

#navbar ul li {
    color: #f5f5f5;
    margin-right: 50px;
}

#navbar ul li a {
    text-decoration: none;
    color: #f5f5f5;
}

.landing-section {
    height: 799px;
}

.bg-overlay {
    padding: 200px;
    background: linear-gradient(rgba(36, 132, 202, 0.45), rgba(36, 132, 202, 0.45)), url("assets/bg-alwan.png");
    background-repeat: no-repeat;
    color: #28F9F9;
    background-size: cover;
    background-position: center;
}

.button {
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    border-color: #42F3E9;
    color: #42F3E9;
    transition: 0.3s;
    max-width: 10%;
    margin: 0 auto;
}

#btn {
    text-decoration: none;
    color: inherit;
}

.button:hover {
    background-color: #42F3E9;
    transition: 0.3s;
    color: #004848;
}

.about-section {
    height: 799px;
    background-color: #55E4ED;
}

.about-container {
    padding-top: 40px;
    height: 799px;
    display: flex;
    position: relative;
}

.img-alwan {
    border-radius: 0px 10px 10px 0px;
    height: 75%;
}

.img-container {
    width: 30%;
}

.desc-container {
    padding-top: 10px;
    font-size: 36px;
}

.education-section {
    height: 799px;
    background-color: #EAF5F5;
}

.education-container {
    height: 799px;
}

.edu-box {
    height: 150px;
    background-color: #55E4ED;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 70px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 649px;
}

.content-1 {
    background-color: #53E3E3;
    display: flex;
    justify-content: space-around;
    margin: 50px;
    border-radius: 10px;
    font-size: 24px;
    background: linear-gradient(rgba(83, 227, 227, 0.5), rgba(83, 227, 227, 0.5)), url("https://kampusaja.com/wp-content/uploads/2016/12/4_Profil-kampus-Universitas-Indonesia-Depok.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.content-2 {
    background-color: #53E3E3;
    display: flex;
    justify-content: space-around;
    margin: 50px;
    border-radius: 10px;
    font-size: 24px;
    background: linear-gradient(rgba(83, 227, 227, 0.5), rgba(83, 227, 227, 0.5)), url("https://sman68jkt.sch.id/wp-content/uploads/2018/09/slider-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.exp-section {
    height: 799px;
    background-color: #95E4E9;
}

.exp-container {
    height: 799px;
}

.exp-box {
    background-color: #EAF5F5;
    height: 150px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 70px;
}

.side-image img {
    height: 649px;
}

.content-container-2 {
    display: flex;
}

.exp-list ul {
    list-style: none;
}

.exps::before {
    content: "\2022";
    color: #18474A;
    font-weight: bold;
    width: 100px;
    font-size: 180%;
}

.exps {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}

.skill-box {
    background-color: #95E4E9;
    height: 150px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 70px;
}

.circle-wrapper {
    top: -100px;
    position: relative;
}

.skills-container {
    background-color: #EAF5F5;
    height: 799px;
}

.circle-wrapper-2 {
    top: -196px;
    position: relative;
}

.skill-set {
    height: 649px;
}

.end-section {
    height: 799px;
}

.footer {
    color: #f5f5f5;
}

.top-wrapper {
    height: 250px;
}

.top-wrapper img{
    position: relative;
    width: 100%;
    top: -50px;
}

.page-container-2, .question-section {
    height: 649px;
}

.top-wrapper h2 {
    position: relative;
    top: -200px;
    font-size: 48px;
}

.question-container {
    position: relative;
    margin: 0px 50px 50px 50px;
    height: 350px;
    top: 50px;
}

.blue-box {
    border-radius: 10px;
    background-color: #55E4ED;
}

.answer {
    position: relative;
    top: 10px;
}

.special {
    position: relative;
    left: -60px;
}

.bot-wrapper {
    position: relative;
    bottom: -10px;
}

.bot-wrapper img {
    width: 100%;
}


